body {
  margin: 0;
  padding: 0;
  height: 1300px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #519259;
  color: white;
}
/* View Todo */
h1 {
  text-align: center;
}
.viewTodo {
  border: 1px solid black;
  min-width: 90%;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  background-color: #fff;
  margin: 0 20px;
}
.viewTodo ol {
  margin: 0;
  padding: 0 0 0 20px;
  color: black;
}
.viewTodo p {
  font-size: 20px;
  margin: 5px;
  word-wrap: break-word;
  cursor: pointer;
}
/* Create Delete */
.manipulationSection {
  display: flex;
  flex-direction: column;
}
.create {
  margin: 30px 0;
  text-align: center;
}
.create textarea {
  width: 100%;
  height: 150px;
  resize: none;
  font-size: 20px;
  overflow-y: scroll;
}
.create button {
  width: 100%;
  height: 55px;
  cursor: pointer;
}
.pressed {
  background: #f2ddc1;
}
.error {
  color: red;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #064635;
}
footer a {
  color: orange;
  text-decoration: none;
}
footer a:hover {
  color: yellow;
}
/* Desktop */
@media (min-width: 992px) {
  body {
    height: 700px;
  }
  .manipulationSection {
    flex-direction: row;
  }
  .create {
    margin: 20px;
    width: 100%;
  }
  .create button {
    width: 101%;
    height: 55px;
  }
  .create textarea {
    height: 150px;
    font-size: 15px;
  }
}
